/* ?Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ?Generics */
body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

img {
    width: 100%;
    display: inline;
}

h2 {
    color: white;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 20px;
}

h3 {
    color: white;
    margin-bottom: 5px;
    font-size: 16px;
}

h5 {
    color: #7D7F84;
    font-size: 12px;
}

/* ?Utils */
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}

.flex {
    display: flex;
}

.border {
    border: 2px dashed white;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-18 {
    margin-bottom: 18px;
}

.d-none {
    display: none;
}

/* Top-content */
.top-content {
    background-color: dodgerblue;
    height: calc(100vh - 100px);
    overflow: auto;
}

/* Sidebar */
.sidebar {
    background-color: #000000;
    flex-basis: 50px;
    flex-shrink: 0;
}

/* Top-sidebar */
.top-sidebar {
    height: calc(100% - 100px);
    padding: 8px;
}

.logo-small {
    width: 30px;
}

.logo-big {
    width: 150px;
    padding: 20px 0;
}

.menù {
    margin-bottom: 30px;
}

.menù img {
    width: 30px;
    vertical-align: bottom;
    filter: invert(0.2);
}

.menù span {
    font-size: 13px;
}

.menù .home {
    font-weight: 700;
}

.menù .search, .library {
    color: #717171;
    font-size: 13px;
    font-weight: 700;
}

.playlist h4 {
    color: white;
    font-size: 14px;
}

.playlist .fa-square-plus {
    color: #A3A3A3;
    font-size: 40px;
}

.playlist .create-playlist {
    color: #717171;
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 10px;
}

.playlist a {
    color: #717171;
    font-size: 13px;
    font-weight: 700;
}

/* Bottom-sidebar */
.bottom-sidebar {
    height: 100px;
    padding: 8px;
}

.bottom-sidebar .download-app {
    margin-left: 6px;
}

.download-app img {
    width: 15px;
}

.download-app span {
    color: #717171;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 700;
}

.bottom-sidebar .divider {
    width: 100%;
    border-bottom: 1px solid #717171;
}

.bottom-sidebar .profile {
    background-color: #808080;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding-left: 2px;
    margin-left: 1px;
}

.profile img {
    width: 23px;
    height: 23px;
}

.bottom-sidebar .owner {
    color: white;
    font-weight: 700;
    padding-top: 5px;
    padding-left: 10px;
}

/* !Main-content */
main {
    background-color: #141922; 
    flex-grow: 1;
    overflow: auto;
}

/* Header-main */
.header-main {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100px;
    position: sticky;
    margin-bottom: 30px;
    top: 0;
    right: 0;
    left: 0;
    justify-content: flex-end;
    align-items: center;
}

.header-main .button {
    padding: 12px 30px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 700;
    margin-right: 5px;

}

.category ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.category a {
    font-weight: 700;
    font-size: 13px;
    color: #7D7F84;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin: 0 -1rem;
}

.col {
    flex-basis: 50%;
    padding: 0 1rem;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-info {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 10px;
}

#created-for-you h2 {
    margin-bottom: 5px;
}

#popular-artists {
    padding-bottom: 50px;
}

#popular-artists h2 {
    margin-bottom: 5px;
}

.circle img {
    border-radius: 50%;
}

/* !Footer */
footer {
    background-color: #282828;
    height: 100px;
}

.footer-section {
    flex-direction: row;
}

.footer-left {
    flex-basis: calc(100% / 3);
    height: 100px;
}

.footer-center {
    flex-basis: calc(100% / 3);
    height: 100px;
}

.footer-right {
    flex-basis: calc(100% / 3);
    height: 100px;
}

/* Footer left */
.footer-left {
    padding-left: 10px;
    align-items: center;
    gap: 15px;
}

.footer-left .card {
    gap: 10px;
}

.footer-left .card-image {
    width: 35px;
}

.footer-left .artist {
    font-weight: 800;
    font-size: 12px;
    color: white;
}

.footer-left .name-song {
    font-size: 10px;
    color: #878787;
    font-weight: 700;
}

.favourite .fa-regular {
    color: #878787;
}

/* Footer center */
.footer-center {
    padding-top: 16px;
    padding-bottom: 10px;
}

.footer-center ul {
    justify-content: center;
    align-items: center;
    padding-bottom: 14px;
    gap: 23px;
}

.footer-center .fa-circle-play {
    font-size: 30px;
    color: white;
}

.footer-center .fa-solid {
    font-size: 18px;
}

.footer-center .time-bar {
    flex-basis: 20%;
    color: white;
    font-size: 10px;
    text-align: center;
    font-weight: 700;
}

.footer-center .progress-bar {
    flex-basis: 100%;
    height: 4px;
    width: 100%;
    background-color: #5A5A5A;
    margin-top: 5px;
    position: relative;
    border-radius: 10px 10px 10px 10px;
}

.footer-center .current-progress {
    position: absolute;
    height: 4px;
    left: 0;
    top: 0;
    width: 25%;
    background-color: #C1C1C1;
    border-radius: 10px 10px 10px 10px;
}

/* Footer right */
.footer-right {
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.footer-right ul {
    gap: 10px;
}

.footer-right .fa-solid {
    color: white;
}

.footer-right .progress-volume {
    height: 4px;
    width: 80px;
    background-color: #5A5A5A;
    margin-top: 5px;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    padding-top: 5px;
}

.footer-right .current-progress-volume {
    position: absolute;
    height: 4px;
    left: 0;
    top: 0;
    width: 25%;
    background-color: #C1C1C1;
    border-radius: 10px 10px 10px 10px;
}